

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.main-header {
    height: 80px;
    background-color: #0d1117;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    position: sticky;
    top: 0;
    z-index: 1000;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #F8FAFC;
    text-decoration: none;
}

.logo-img {
    width: 70px;
    height: 70px;
}


.text-accent {
    color: #38BDF8;
}

.nav-links {
    display: flex;
    align-items: center;
}

    .nav-links a, .navbar-right a {
        margin-left: 24px;
        color: #F1F5F9;
        font-size: 16px;
        text-decoration: none;
        transition: color 0.3s;
    }

        .nav-links a:hover, .navbar-right a:hover {
            color: #38BDF8;
        }

.navbar-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-family: "Share Tech Mono", monospace;
}
